@use 'variables' as v;

@mixin base-text {
    font-size: 1rem;
    color: v.$primary-color;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

@mixin header-text {
    font-size: 2rem;
}

@mixin sub-header-text {
    font-size: 1.2rem;
    font-weight: 600;
    font-style: italic;
}

@mixin dark-text-box {
    background-color: v.$accent-color2;
    color: v.$primary-color;
}

@mixin light-text-box {
   
   @include game-text;
}

@mixin link-button {
    border: none;
    border-radius: 5px;
    padding: 1rem;
    margin: 1rem;
    text-align: center;
    text-decoration: none;
    @include dark-text-box;
    @include sub-header-text;

    &:hover {
        color: v.$accent-color3;
        box-shadow: 0 0  0.3rem 0.2rem v.$accent-color3 ;
    }
}
@mixin game-component{
    padding: 1rem;
    background-color: aliceblue;
    border-radius: 5px;
}

@mixin game-object{
    height: 4rem;
    width: 4rem; 
}

@mixin game-text{
    margin:0.2rem;
    padding: 0.2rem;
    text-align: center;
    color: v.$accent-color2;
    font-style: italic;
    font-weight: 500;
}

@mixin pea-hover{
    &:hover{
        box-shadow: 0 0  0.3rem 0.2rem v.$accent-color3 ;
      }
}

@mixin pea-hover-remove{
    &:hover{
        box-shadow: none;
    }
}