$base-color: rgb(62, 1, 94);
$primary-color:rgb(162, 155, 243);
$accent-color2: rgb(25, 1, 35);
$accent-color3: rgb(239, 13, 202);
$dirt-color: rgb(129, 73, 27);

$child-border: 1px solid $accent-color2;
$parent-border: 3px dotted $accent-color2;

$thin-border: 1px solid $accent-color2;

//Genecolors
$bb:rgb(93, 46, 2);
$bo: rgb(172, 61, 5);
$bp: rgb(62, 4, 13);
$by:rgb(228, 191, 3);
$GX: rgb(5, 86, 4);
$GK:rgb(55, 67, 11);
$KX:rgb(100, 84, 2);
$oo: rgb(253, 92, 5);
$oy:rgb(249, 127, 4);
$op:rgb(98, 0, 0);
$pp:rgb(50, 3, 58);
$py:rgb(107, 3, 112);
$yy: rgb(246, 255, 0);