$base-color: rgb(160, 27, 231);
$primary-color:rgb(162, 155, 243);
$accent-color2: rgb(25, 1, 35);
$accent-color3: rgb(239, 13, 202);
$dirt-color: rgb(129, 73, 27);

$child-border: 2px solid $accent-color3;
$parent-border: 2px dotted $accent-color3;
