@use '../styles/variables.scss' as v;

.game{
    background-color: black;
    display: grid;
    max-width: fit-content;
    margin: auto;
    

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 0;
    button{
        margin: 2rem;
    }

    #parent1-container{
        background-color: aqua;
        grid-row: 1 / 2;
        grid-column: 2 / 4;
        justify-self: stretch;
        border-bottom: v.$parent-border;
        margin-bottom: 1rem;
    }
    #parent2-container{
        background-color: rgb(255, 0, 47);
        grid-row: 2 / 4;
        grid-column: 1 / 2;
        justify-self: stretch;
        border-right: v.$parent-border;
        margin-right: 1rem;
    }

    #child1-container{
        background-color: rgb(50, 5, 13);
        grid-row: 2 / 3;
        grid-column: 2 / 3;
        justify-self: stretch;
        border-right: v.$child-border;
        border-bottom: v.$child-border;
    }
    #child2-container{
        background-color: rgb(183, 85, 103);
        grid-row: 2 / 3;
        grid-column: 3 / 4;
        justify-self: stretch;
        border-left:  v.$child-border;;
        border-bottom: v.$child-border;
    }
    #child3-container{
        background-color: rgb(221, 8, 47);
        grid-row: 3 / 4;
        grid-column: 2 / 3;
        justify-self: stretch;
        border-top: v.$child-border;
        border-right: v.$child-border;
    }
    #child4-container{
        background-color: rgb(228, 140, 156);
        grid-row: 3 / 4;
        grid-column: 3 / 4;
        justify-self: stretch;
        border-top: v.$child-border;
        border-left: v.$child-border;
    }
}