@use '../styles/variables.scss' as v;
@use '../styles/mixins.scss' as m;

.gamearea {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 0;
    max-width: 1000px;
    padding-right: 2rem !important;
    padding-bottom: 2rem !important;
    @include m.game-component;

    button {
        margin-right: 1rem;
        margin-left: 1rem;
        margin-bottom: 1rem;
        margin-top: 1rem;
    }

    #parent1-container {
        grid-row: 1 / 2;
        grid-column: 2 / 6;
        justify-content: center;
        height: fit-content;
        margin-bottom: 0%;
        padding-bottom: 1rem;
        border-bottom: v.$parent-border;
    }

    #parent2-container {
        grid-row: 2 / 6;
        grid-column: 1 / 2;
        justify-self: stretch;
        width: 90%;
        margin-right: 1rem;
        padding-right: 1.8rem;
        padding-left: 1rem;
        border-right: v.$parent-border;
    }

    #child-container {
        grid-row: 2 / 6;
        grid-column: 2 / 6;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        & .child {
            width: 25%;
          }

        & .peabar:nth-child(odd) {
            .cuboidelliptic {
                rotate: (180deg);
            }
        }

        & .peabar:nth-child(odd) {
            .cuboidwrinkled {
                rotate: (90deg);
            }
        }

        & .peabar:nth-child(odd) {
            .ellipticwrinkled {
                rotate: (160deg);
            }
        }
    }
}