@use "../styles/variables.scss" as v;
.pea{
    border-radius: 50%;
    width: 5rem;
    height: 5rem;

}
.green{
    background-color: rgb(5, 86, 4);
    border: v.$thin-border;

}
.yellow{
    background-color: rgb(255, 255, 0);
    border: v.$thin-border;
}
.smooth{
    
}
.wrinkled{
}
