@use "../styles/variables.scss" as v;
@use "../styles/mixins.scss" as m;

//Basic pea appearance
.pea {
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  

}

//colors
.brown {
  background-color: v.$bb;
  
}

.brownorange {
  background-color: v.$bo;
}

.brownpurple {
  background-color: v.$bp;
}

.brownyellow {
  background-color: v.$by;
}

.Green {
  background-color: v.$GX;
}

.greenkhaki {
  background-color: v.$GK;
}

.Khaki {
  background-color: v.$KX;
}

.orange {
  background-color: v.$oo;
}

.orangeyellow {
  background-color: v.$oy;
}

.orangepurple {
  background-color: v.$op;
}

.purple {
  background-color: v.$pp;
}

.purpleyellow {
  background-color: v.$py;
}

.yellow {
  background-color: v.$yy;
}

//shapes
.Round {
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  @include m.pea-hover;
}

.cuboid {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 45% 25% 45% 30%;
  transform: skew(0.02turn, 15deg);
  @include m.pea-hover;
}

.cuboidelliptic {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 45% 25% 45% 30%;
  transform: rotate(140deg) skew(0.05turn, 15deg);
  @include m.pea-hover;
}

.cuboidwrinkled {
  position: relative;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 45% 15% 45% 15%;
  transform: skew(0.02turn, 15deg);
  @include m.pea-hover;

  &:before,
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: inherit;
  }

  &:before {
    border-radius: 35% 35% 35% 25%;
  }

  &:after {
    transform: rotate(60deg);
    border-radius: 25% 40% 30% 40%;
  }

}

.elliptic {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 70% 25% 70% 25%;
  transform: rotate(45deg);
  @include m.pea-hover;
}

.ellipticwrinkled {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 70% 25% 70% 25%;
  transform: rotate(45deg);

  &:before,
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: inherit;
  }

  &:before {
    border-radius: 100% 35% 100% 25%;
    transform: rotate(20deg);
  }

  &:after {
    transform: rotate(35deg);
    border-radius: 85% 45% 90% 90%;
  }
}

.wrinkled {
  width: 3.5rem;
  height: 3.5rem;
  position: relative;
  border-radius: 50% 25% 35% 50%;
  @include m.pea-hover;
  &:before,
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: inherit;
  }

  &:before {
    border-radius: 25% 25% 30% 25%;
    transform: rotate(25deg);
  }

  &:after {
    transform: rotate(60deg);
    border-radius: 25% 50% 30% 30%;
  }
}
.highlight{
  box-shadow: 0 0  0.3rem 0.3rem v.$primary-color ;

}