@use "../styles/variables.scss" as v;
//Basic pea appearance
.pea{
    border-radius: 50%;
    width: 4rem;
    height: 4rem;

}
//colors
.brown{
  background-color: rgb(159, 87, 21);
}
.green{
    background-color: rgb(5, 86, 4);
}
.greenkhaki{
  background-color: rgb(62, 67, 11);
}
.khaki{
  background-color: rgb(160, 136, 17); ;
}
.orange{
  background-color: rgb(253, 112, 5);
}
.purple{
  background-color: rgb(50, 3, 58);
}
.yellow{
    background-color: rgb(240, 240, 8);
}
//shapes
.smooth{
    
}
.wrinkled{
      width: 3.5rem;
      height: 3.5rem;
      position: relative;
      border-radius: 50% 25% 35% 50%;
     // text-align: center;
      &:before,
      &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: inherit;
      }
      &:before {
        border-radius: 25% 25% 30% 25%;
        transform: rotate(25deg);
      }
      &:after {
        transform: rotate(60deg);
        //background-color: blueviolet;
        border-radius: 25% 50% 30% 30%;
      }

}
.cuboid{
  border-radius: 45% 25% 45% 30%;
  transform: skew(0.01turn, 15deg);

}