@use "../styles/variables.scss" as v;
@use '../styles/mixins.scss' as m;

.peabar{
    box-sizing: border-box;
    padding: 1rem;
    margin: 0;
    //width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aqua;
  //  gap: 4rem;
  &.child{
width: 25%;
  }
  &.parent{

  }

  p{
    margin:0.2rem;
    padding: 0.2rem;
    text-align: center;
    color: v.$accent-color2;
    font-weight: 500;
    
    
    
  }
}



