@use "../styles/variables.scss" as v;
@use '../styles/mixins.scss' as m;

.peabar {
  box-sizing: border-box;
  padding: 1rem;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  p {
    @include m.game-text;
  }
}