@use './styles/variables.scss' as v;
@use './styles/mixins.scss' as m;

body {
  margin: 0;
  padding: 3rem;
  background-color: v.$base-color;
  @include m.base-text;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



